html {
  box-sizing: border-box;
}

*, 
*:before,
*:after{
  box-sizing: inherit;
}

body{
  background: url(../img/mars.jpg) no-repeat   fixed;
  /*background-color: black;*/
  color:white;
  font-family: 'Asap Condensed', verdana, sans-serif;
}
/*-----------------------------------------------------------*/

/*NAVIGATION*/

nav{
  font-size:16px;
  min-height: 80px;
  line-height: 80px;
  text-align: center;
  background-color:black;
  color:white;
}

nav ul {
  float:right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right:60px;
}

nav ul li{
  display:inline;
  }

a {
  color:white;
  text-decoration: none;
  padding: 10px;
  }

a.active{
  color:white;
  text-decoration: underline;
}

a:hover{
  color:#434343;
}
/*-----------------------------------------------------------*/

.grid-container > div:nth-child(3) {
  width:100%;
  /*background-color:black;*/

}

.graphContainer{
  width:600px;
  height:500px;
  display:grid;
  /*align-content: space-between;*/
  /*justify-content: space-around;*/
  background-color:red;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom: 10px;
}



#mainContent{
  max-width: 80%;
  min-height:300px;
  margin-left: auto;
  margin-right: auto;
  background-color:;
  margin-top:40px;
  border-radius: 36px;
  font-size:18px;
  padding: 20px;
  display:flex;
  flex-wrap: wrap;
  color:white;
  }
/*-----------------------------------------------------------*/

/*IMAGES*/
#logo{
  max-width:300px;
  margin-bottom:-50px;
  margin-left:40px;
}

#mars{

}

#rover{

}

/*-----------------------------------------------------------*/










