html {
  box-sizing: border-box;
}

*, 
*:before,
*:after{
  box-sizing: inherit;
}

body{
  background: url(../img/mars.jpg) no-repeat   fixed;
  /*background-color: black;*/
  color:white;
 /*font:  D-DIN-Bold,Arial,Verdana,sans-serif;*/
  font-family: 'Asap Condensed', verdana, sans-serif;
}
/*-----------------------------------------------------------*/

/*NAVIGATION*/

nav{
  font-size:16px;
  min-height: 80px;
  line-height: 80px;
  text-align: center;
  background-color:black;
  color:white;
}

nav ul {
  float:right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right:60px;
}

nav ul li{
  display:inline;
  }

a {
  color:white;
  text-decoration: none;
  padding: 10px;
  }

a.active{
  color:white;
  text-decoration: underline;
}

a:hover{
  color:#434343;
}

#logo{
  max-width:300px;
  margin-bottom:-50px;
  margin-left:40px;
}

/*-----------------------------------------------------------*/

.grid-container > div:nth-child(3) {
  width:100%;
}

.graphContainer{
  width:600px;
  padding:10px;
  display:grid;
  background-color:black;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom: 10px;
}

#status{
  color:green;
  font-size: 60px;
  margin-left: 20px;
  padding-top: -10px;
}


h1{
  margin-top:2px;
  font-size:50px;
}

.grid-item h2{
margin-left: 20px;
}

#mainContent{
  width:500px;
  min-height:300px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background-color:;
  font-size:18px;
  padding: 20px;
  color:white;
  }

#mainContent h1{
margin-top:-30px;
font-weight: lighter;
}

#mainContent h3{
margin-top:-20px;
}

#mainContent p{
margin-top:-20px;
padding:10px;
}

.btn{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 20px;
  border: 2px solid #fff;
  display: inline-block;
  transition: all 0.2s ease 0s;
}

.btn:hover {
  color: black;
  background: #fff;
  border-color: #fff;
  transition: all 0.2s ease 0s;
}

.spacex{
  font-size: 40px;
  color:green;

}







